<div id="home">
  <h1 style="text-align: center;">G検定とは</h1>
  <br>
  <h3>
    AI（ディープラーニング）の基礎知識を有し、適切な活用方針を決定、事業応用する能力を持つ人材を定義するための資格試験です。 JDLAでは、2020年までに10万人規模でジェネラリストを輩出することを目指し、知識面から育成を支援する活動に取り組まれています。
  </h3>
  <br>
  <hr style="border:none; background-color: rgba(44,62,80, 0.7); height: 4px; ">
  <br>
  <div class="outline">
    <h2>G検定概要</h2>
    <br>
    <ul style="list-style-type: none;">
      <li>実施概要：試験時間：120分 / 知識問題（多肢選択式・220問程度）/ オンライン実施（自宅受験）</li>
      <li>受験費用：一般：12,000円（税抜）
        学生：5,000円（税抜）</li>
      <li>受験サイト:	<a href="https://www.jdla-exam.org/d/2" target="_blank">https://www.jdla-exam.org/d/2</a></li>
    </ul>
    <br>
    <h2>G検定　試験日程</h2>
    <br>
    <p>2020年7月4日（土）</p>
    <p>2020年11月7日（土）</p>
  </div>
  <br>
  <div class="toQuestion">
    <router-link to="/question" class="button">
      <v-btn depressed small color="rgba(51,51,51, 0.8)" dark style="height: 50px; width: 170px; font-size: 18px;">過去問を解く</v-btn>
    </router-link>
  </div>
</div>