#top {
  margin:30px 30px;
  padding: 30px;
  border-radius: 10px;
  color:rgba(44,62,80, 0.9);
  /* background-color: rgba(255, 255, 255, 0.2); */
  text-align:center;
}

.management{
  font-weight:bold;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align:center;
}

#content{
  margin:30px 100px;
  padding: 50px 30px 30px 30px;
  border-radius: 10px;
  color:rgba(44,62,80, 0.9);
  background-color: rgba(255, 255, 255, 0.4);
  text-align:center;
}
.text{
  font-weight:bold;
  vertical-align: middle;
  width: 100px;
  background-color: RGB(97, 150, 202, 0.3);
  height: 26px;
  border-radius: 5px;
margin-right: 10px;
}

.flex{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

input{
  border-radius: 5px;
  width: 400px;
  background-color: rgba(254, 254, 255, 0.2);
}

input:focus {
  border: 1px solid #3a3b3c;
  outline: 0;
}

.form{
  margin-bottom:15px;
}

.addBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width:700px) {
  #home {
    position: relative;
    width: 85%;
    margin:30px;
  }
}
