#board {
  /* height: 510px; */
  margin:30px 100px;
  padding: 30px;
  border-radius: 10px;
  color:rgba(44,62,80, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
  text-align:center;
}

.label{
  vertical-align: top;
  margin-right: 5px;
}

.name{
  margin-top: 15px;
  
}

.content {
  margin-top: 15px;
  margin-bottom: 12px;
}

.toukou{
  margin: 40px auto;
  max-width: 975px;
}

.toHome{
  text-align: center;
}

.toHome.v-btn{
  width: 200px;
}

@media screen and (max-width:700px) {
  #home {
    position: relative;
    width: 85%;
    margin:30px;
  }
}
