<div id="app" v-if="this.questions">
  <div style="font-weight:bold;">
    <!-- <button @click="readQuestions()">
      参照！！！！！！！！！！！
    </button>
    <button @click="addQuestions">問題追加</button> -->
    正解数: {{ numOfCorrect }}/{{ questions.length }}
    <div v-if="this.numOfClick == 0">
    正答率
    </div>
    <div v-else>
      正答率 :{{ numOfCorrect/this.numOfClick * 100 | rounding }} %
    </div>
  </div>  
  <hr class="hr">
  <br>
  <div class="question-parts">
    問題{{ this.UrlParamOfQuestionNumber}}
  </div>
  <div class="question-parts2">
    {{ this.questions[this.UrlParamOfQuestionNumber - 1].question }}
  </div>
  <img v-bind:src="questions[this.UrlParamOfQuestionNumber - 1].image">
  <div 
    class="question-container"
    v-for="(item, key) in questions[this.UrlParamOfQuestionNumber - 1].choices"
    v-bind:key=key 
  >
  <v-btn class="choice-button" depressed small color="rgba(51,51,51, 0.8)" dark @click="check(key, questions[this.UrlParamOfQuestionNumber - 1].answer)">
    {{key + 1}}
  </v-btn>
  <div class="choice-txt" @click="check(key, questions[this.UrlParamOfQuestionNumber - 1].answer)">
    {{ item }} 
  </div>    
  </div>
  <span id="target"></span>
  <transition>
    <div  v-show="explanationFlag">
      <div v-show="resultFlag" style="padding-top:30px;">
        <h3 style="color: #D32F2F;">正解！</h3>
      </div>
      <div v-show="!resultFlag" style="padding-top:30px;">
        <h3 style="color: #1A237E;">不正解...</h3>
      </div>
      <div style="padding-top:30px;">
        <h3>解説: </h3>
      </div>
      <div style="padding-top:30px;" v-html="questions[this.UrlParamOfQuestionNumber - 1].explanation">        
      </div><br>
      <img v-bind:src="questions[this.UrlParamOfQuestionNumber - 1].image2">
    </div>
  </transition>


  <br>
  <div class="next-button" >
    <v-btn @click="nextQuestion()" color="rgba(51,51,51, 0.8)" dark >
      次の問題へ
    </v-btn>    
  </div>
</div>