#home {
  /* height: 510px; */
  margin:70px 100px 70px;
  padding: 30px;
  border-radius: 10px;
  color:rgba(44,62,80, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
}

.toQuestion{
  text-align: center;
}

.toQuestion.v-btn{
  width: 200px;
}

@media screen and (max-width:700px) {
  #home {
    position: relative;
    width: 85%;
    margin:30px;
  }
}
